[2019-09-22 06:10] rhatdan opened #2 "Needs an RPM Spec file"
@jnovy @lsm5 could you help with this.

[2019-09-22 06:12] rhatdan commented on #2
Here is my initial stab at it.  But I am not sure how you want to build this.  I would love to get this autobuilt...

[oci-seccomp-bpf.spec.in.txt](https://github.com/containers/oci-seccomp-bpf-hook/files/3639430/oci-seccomp-bpf.spec.in.txt)

[2019-09-22 06:13] rhatdan opened #3 "Need to hook up cirrus testing."
- [x] Create new GCE Project
- [x] Grant stake-holders 'owner' IAM role (including James) in new project
- [x] Ask James Russell to move billing account
- [x] Create 'imgts-<number>' IAM service account in new project
      - Use description: "Account for <new repo> access to update VM Image metadata"
      - Create and store key (JSON) file locally for use later
- [x] Grant 'imgts-<number>' IAM r

[2019-09-22 06:54] vrothberg opened #7 "man pages"
It would be great to have man pages for the hook explaining how it can be used etc.

[2019-09-22 07:34] rhatdan opened #10 "Tool needs to support input and output files."
Perhaps

[code]
Annotation becomes a comma separate list of options to the plugin.

[code]
Would update the existing seccomp.json file.
[code]
Should fail if the /tmp/seccomp.json file exists.

[2019-09-22 08:28] vrothberg commented on #7
Closed by #9

[2019-09-22 08:28] #7 closed

[2019-09-22 08:48] vrothberg commented on #10
I like the idea and the syntax.

Not sure about that. It seems like a restriction that could break common workflows. For instance, in the bats tests we're first generating a temp file and use that to feed the hook.

[2019-09-22 08:51] vrothberg opened #13 "Start versioning"
We should start versioning to have some kind of release engineering but also to cover maintenance cases.

* Add a `--version` flag to hook to allow for inspecting the version.
* Add a `VERSION` file to the repository to ease packaging and compiling in the version.
* Use [semantic versioning](https://semver.org/).

[2019-09-22 10:04] rhatdan commented on #10
Well if it doesn't fail, then it needs to overwrite.

My concern is with people running the command multiple times with different tests, They may expect it to be cumulative, but currently they will end up with only the seccomp rules from the final test.

[2019-09-22 10:06] rhatdan opened #15 "oci-seccomp-bpf-hook should be able to tell from bpf that the pid 1 of container exited"
The hook should not have to rely on runc sending the poststop hook and sending a signal across.

Isn't there something BPF would tell us?

[2019-09-22 11:49] weirdwiz commented on #10
Should the hook just take the syscalls allowed or blocked in the original profile or, should it append to the original profile as-is?

[2019-09-22 13:52] vrothberg commented on #10
I prefer to clearly document it rather than not allowing to write to pre-existing files. Especially for temporary files, I'd love to have it. We can extend the syntax in the future with, for instance, `if=...,of=...,mode=cummulative`".

That's very good question. I *think* it should append and override if a syscalls is already mentioned. @rhatdan WDYT?

[2019-09-22 13:54] vrothberg commented on #15
I don't know if eBPF allows that but we could start another goroutine that sends a signal if the init process dies.

[2019-09-22 13:54] vrothberg commented on #15
I don't know if eBPF allows that but we could start another goroutine that sends a signal if the init process dies.

[2019-09-22 14:01] vrothberg commented on #15
I have an idea that might work and is not racy. We could add another trace point to scheduler for process_exit (similar to https://github.com/iovisor/bcc/blob/master/tools/exitsnoop.py#L116). As soon as the we notice that the init PID exits, we signal the go tracer. We could extend the data structure if a boolean to indicate `stop trace` or something similar.

[2019-09-22 15:35] weirdwiz commented on #15
That is entirely possible, I should try hacking something together.

[2019-09-23 12:58] jnovy commented on #2
Hi Dan,

seems the makefile in
https://github.com/containers/oci-seccomp-bpf-hook/blob/master/Makefile
needs additional care as the spec file refers much more files than actually
installed into the $BUILDROOT and /usr/bin/oci-seccomp-bpf is not even
there (only in /usr/libexec). Should I do a PR to fix this?

Attaching patch against your spec draft.

Jindrich

On Sun, Sep 22, 2019 at 8:12 AM Danie

[2019-09-23 16:06] #13 closed

[2019-09-24 13:32] cevich commented on #3
Thx, got it.

[2019-09-26 05:31] rhatdan commented on #2
Yes, I was just throwing something together, if you could open a complete PR, that would be great.  We will need to also start this package to begin to go through the Fedora Review Process.

[2019-09-26 06:46] vrothberg opened #19 "Use one hook instead of two"
We can combine the two hooks into one by inspecting the inspecting the container's state in the runtime state json that is passed via stdin. @wking gives a great overview of how that can be done here: https://github.com/cri-o/cri-o/pull/1360

Thanks to @wking for the guidance!

[2019-09-26 15:01] jnovy commented on #2
The missing /usr/bin/oci-seccomp-bpf-hook is trivial to fix on Makefile's side.

Now these need to be added to the repo as they are completely missing:
/usr/lib/systemd/system/io.oci-seccomp-bpf.service
/usr/lib/systemd/system/io.oci-seccomp-bpf.socket

Once done I can file Fedora review. Maybe @vrothberg can help with these?

[2019-09-27 19:14] cevich commented on #3
update: My plate is mostly clear now to work on this next week.

[2019-09-28 10:21] weirdwiz commented on #19
We won't need the poststop hook now as the hook can now exit on it's own[1] :D

[1]: #20

[2019-10-01 10:19] #15 closed

[2019-10-01 10:20] vrothberg commented on #19
Fixed with #20.

[2019-10-01 10:20] #19 closed

[2019-10-01 11:12] rhatdan commented on #3
@cevich any progress?

[2019-10-01 11:26] rhatdan commented on #2
@jnovy could you open a PR with the spec file you want to run with?

[2019-10-01 13:01] cevich commented on #3
thanks for the poke, no unfortunately not, I should do something about that...like, get started.

[2019-10-08 06:29] #10 closed

[2020-01-31 12:31] jnovy opened #31 "Build failure in Fedora 32/rawhide due to update to gcc 10"
Please see:
https://koji.fedoraproject.org/koji/taskinfo?taskID=41215628

It might be connected with update to gcc-10. There is a risk this package would be dropped if the build failure isn't fixed. Any hints?

Thanks,
Jindrich

[2020-01-31 13:08] vrothberg commented on #31
@weirdwiz, do you have time to look at that?

[2020-02-10 08:13] #3 closed

[2020-04-17 18:13] firefly-serenity opened #36 "oci hook processes never terminate"
When trying to make a seccomp profile with the oci-hook and mpirun (lsdyna). The lsdyna job (24 containers on one host) successfully terminates, but the oci-hook processes continue to run.
I end up with a system that is under heavy load but do not get the expected profile.

Could be that this is because 24 containers try to write the same file?

This is how I start the containers:
[code]

This is

[2020-04-18 07:47] weirdwiz commented on #36
I think this is due to multiple processes trying to write on the same file, if it's possible can we look at the logs made by the hook.

[2020-04-18 10:07] firefly-serenity commented on #36
Is there any other file then /var/log/messages where the hook is writing logs? The only logs I foud so far are those:

[code]

[2020-04-18 10:46] rhatdan commented on #36
Take a look at the journal.

[2020-04-18 11:45] firefly-serenity commented on #36
I find the same list of logs in the journal. But here is a snippet of the verbose output if that helps:
[code]

[2020-04-20 10:45] rhatdan commented on #36
What commands are you using to run your containers?

[2020-04-20 10:48] firefly-serenity commented on #36
Please take a look at my first comment for that.

[2020-04-20 13:57] rhatdan commented on #36
Yes this is because multiple containers writing to same file.  There is no knowledge built into the hook to handle multiple writers.
Is this what you want, to generate one seccomp.json file for all of your containers?

[2020-04-20 14:17] firefly-serenity commented on #36
What I want is, to generate one seccomp.json file that contains all the syscalls that are being used by the containers. The syscalls should be the same for all the containers.

That means it would be sufficient if I would get the profile of only one of the containers. but since the containers are started by mpirun, I cannot vary the arguments I am passing for each container.

[2020-04-20 14:19] rhatdan commented on #36
An mpirun starts up 24 containers on the same host?

[2020-04-20 14:20] firefly-serenity commented on #36
At the moment this is only for testing. In the next step I want to extend it to more hosts. But yes, on each host there will be 24 Processes, since there are 24 Cores on the system.

[2020-04-20 17:52] vrothberg commented on #36
It does not make sense to me that the hooks don't complete when they write to the same file. The file should contain garbage but they should complete.

[2020-04-20 17:58] vrothberg commented on #36
`--pid=host` ... I bet it's because the containers don't have their own pid namespaces.

I may need a fresh coffee morning brain to think this entirely through but:
* We're using ebpf for tracing and need to discriminate which processes to trace.
* The kernel does not expose any means to uniquely and unambiguously identify which process belongs to what container; there's no such mapping or ID. It'

[2020-04-20 18:03] vrothberg commented on #36
We may be waiting for logs from the tracing go-routines and not eat the stop signal at all.

I see two issues:
* The reported bug that the hooks don't terminate.
* Find a way to support what you want to do. All container-bpf tracers I know of, use the PID namespace trick mentioned above. We may very well use another namespace that can support MPI.

@rhatdan, mount namespace? Should we make it conf

[2020-04-20 18:21] weirdwiz commented on #36
Yes, if the pid namespace is same as the host then the tracer would log all of the syscalls on the host. But the tracer should exit because we don't rely on the pid namespace to exit the tracer. My guess would be the perf ring buffer gets overflowed as we log every syscall on the host, and the program in userspace can't read the signal to terminate.

[2020-04-20 23:07] holgrrr commented on #36
Steffen, can you try this little workaround to work around the issue of the 24 profiles being written into the very same file? It just adds the pid to the filename - so you then should hopefully end up with 24 individual json profiles.

[code]

Am curious if they are really congruent as expected or need to be merged afterwards.

[2020-04-21 11:54] vrothberg commented on #36
It's related to the pid NS. Just running a single container with --pid=host reproduces the issue and the hook will not terminate.

[2020-04-21 12:17] vrothberg commented on #36
I straced a lost hook which supports your theory:

I bet we're losing the message to stop tracing from the bpf program to the hook.

[2020-05-02 08:29] slashTPA opened #37 "Build failure on RHEL 8.2"
Hi,
trying to make binary fails on my RHEL8.2:

$ make binary
GO111MODULE=on go build -mod=vendor -o bin/oci-seccomp-bpf-hook -ldflags "-X main.version=1.0.0" github.com/containers/oci-seccomp-bpf-hook
# github.com/iovisor/gobpf/bcc
vendor/github.com/iovisor/gobpf/bcc/module.go:32:10: fatal error: bcc/bcc_common.h: No such file or directory
 #include <bcc/bcc_common.h>
          ^~~~~~~~~~~~~~~~~~

[2020-05-04 08:48] vrothberg commented on #37
bcc-devel is not available on RHEL 8.2. `oci-seccomp-bpf-hook` will be available on RHEL 8.3 where I assume bcc-devel will be available as well.

[2020-05-04 14:38] vrothberg commented on #31
@jnovy, are you still seeing the error in Rawhide?

[2020-05-04 14:39] vrothberg commented on #2
I am going to close given it's packaged.

[2020-05-04 14:39] #2 closed

[2020-05-09 15:00] #37 closed

[2020-05-09 15:01] #31 closed

[2020-05-11 15:49] #36 closed

[2020-05-30 17:27] fgiloux opened #43 "Better names for the env variables?"
Hi

I was trying to compile on Fedora 32 silverblue and had this funny thing: the compilation was failing and complaining on the link command having wrong arguments. Looking at the Makefile there are a few env variables that get defined if not already set, especially:
VERSION ?= $(shell cat ./VERSION)
The thing is that this variable is defined per default with "32 (Container Image)" on my system,

[2020-06-01 12:56] rhatdan commented on #43
Sure, could you open a PR to make the change?

[2020-06-01 20:48] fgiloux commented on #43
Sure. That's done.

[2020-06-02 07:26] vrothberg commented on #43
Thanks for reaching out and for the PR!

I am quite surprised that Silverblue is setting VERSION. It seems common practice to use that the way we used to do it.

With #43 being merged, I am closing the issue.

[2020-06-02 07:26] #43 closed

[2020-06-16 12:08] lsm5 opened #45 "build fails on CentOS"
Trying to build 1.1.0 rpm on OBS for CentOS, and it fails with:

[code]

[2020-06-16 12:08] lsm5 commented on #45
https://build.opensuse.org/public/build/devel:kubic:libcontainers:stable/CentOS_7/x86_64/oci-seccomp-bpf-hook/_log

[2020-06-16 12:32] weirdwiz commented on #45
[code]
the function definition was changed, bcc >= 0.11.0 , you'll need to update bcc

[2020-06-16 12:39] lsm5 commented on #45
Thanks. I guess I'll just wait until CentOS updates bcc then, unless there's enough demand for me to package it separately on OBS. Closing...

[2020-06-16 12:39] #45 closed

[2020-07-09 20:06] doctormay6 opened #48 "OCI runtime error when executing hook"
I tried using this tool with a container that I made and it fails to run the hook. The container was originally made for Docker and runs Apache Guacamole as well as Firefox. If you need more information on the container, see [my repo](https://github.com/doctormay6/foxception) or ask me.

Steps to reproduce the error: (Fedora 32 server)
`$ sudo dnf install oci-seccomp-bpf-hook podman git`
`$ git cl

[2020-07-09 20:26] doctormay6 commented on #48
With journalctl I can see a fatal message:
`paths mus be absolute: \"\": invalid annotation: please refer to the syslog (e.g., journalctl(1)) for more details`

[2020-07-10 02:06] weirdwiz commented on #48
the annotation requires the absolute path for the output profile, so your annotation would look something like this
[code]

[2020-07-10 12:30] vrothberg commented on #48
Thanks for reaching out! As @weirdwiz said, we enforce absolute paths. Relative paths can be error prone with so many different tools in play.

[2020-07-10 12:30] #48 closed

[2020-07-10 12:31] doctormay6 commented on #48
Ah, I can't believe I didn't try that... "But I tried everything!" Thanks for clearing that up for me, it is working now.

[2020-07-10 12:34] doctormay6 commented on #48
Where in the repo can I begin looking for the right place to add that functionality?

[2020-07-13 14:46] rhatdan commented on #48
Great, @doctormay6 Looking forward to it. The error message should be a improved to tell the user that they need to specify a full path.

[2020-08-03 08:03] saschagrunert opened #54 "Add/infer architectures for generated seccomp profiles"
Hey :wave:, I think we should definitely add some architectures to the generated seccomp profiles. One approach could be that we just add all architectures, or we try to infer them from `runtime.GOARCH`. WDYT?

[2020-08-03 08:09] vrothberg commented on #54
Would there a benefit over adding none at all?

Sounds good :+1:

[2020-08-12 07:39] #54 closed

[2020-08-12 08:59] saschagrunert opened #58 "Request: Cut v1.2.0"
Hey :wave:, may I ask you to cut a new release that we can get the architecture feature in? I'm on my way packaging it for openSUSE distributions and it would be cool to have the feature landed. :innocent:

[2020-08-12 09:14] vrothberg commented on #58
Sure. Would be 1.2.0 though :)

[2020-08-12 09:23] saschagrunert commented on #58
Makes sense :grin:

[2020-08-12 09:37] #58 closed

[2020-08-21 11:00] saschagrunert opened #62 "Hook hangs on "Loading enter tracepoint""
Alright, this might be tricky to debug, but let me first summarize my observations:

- Hook version: 9f10df075c22c4ad942bbcd28b53f9edf608c956

Podman command:
[code]

Systemd outputs that the hook gets loaded successfully, but timed out:
[code]
I think we can ignore the kheaders message for now, because they're loaded:
[code]

Might it be possible that there is a library incompatibility with the h

[2020-08-23 19:33] saschagrunert commented on #62
Alright it looks like that the BPF code does not compile on my system but gobpf does not error in that case, investigating further…

[2020-08-31 12:52] saschagrunert commented on #62
I think I solved the issue, unfortunately not sure which configuration change caused the binary to compile. :-/

[2020-08-31 12:52] #62 closed

[2020-09-01 21:54] jkl92 opened #64 "Can't generate a seccomp profile"
I used this [blog](https://podman.io/blogs/2019/10/15/generate-seccomp-profiles.html) and followed the steps in it to generate a container seccomp profile, and I don't get a file, ls.json, output from  running this ```sudo podman run --annotation io.containers.trace-syscall=of:/tmp/ls.json fedora:32 ls / > /dev/null```

I installed a fresh x86 fedora 32 server using this Fedora-Server-netinst-x86_

[2020-09-04 17:50] storrgie commented on #64
Super interested in this, I've had that article pinned for a long time to try out.

[2020-09-07 08:14] vrothberg commented on #64
Thanks for reaching out, @jkl92!

Can you do a `dnf install oci-seccomp-bpf-hook` and try again? In the meantime, Fedora has package for the hook.

[2020-09-07 08:24] vrothberg commented on #62
I guess the kernel headers were missing or the module wasn't present. As we compile on the fly, we need the headers either via the module or on the file system.

[2020-09-07 08:35] saschagrunert commented on #62
Yes, we also have to point out that compiling the BPF module requires the headers to match the currently loaded kernel. There will be a `uname` done under the hood to load the right path to the kernel headers. If they do not match, then it will not work. Maybe we should add this information to the README?

I think we could also remove the modprobe, because it will be implicitly done when compiling

[2020-09-07 14:34] jkl92 commented on #64
Thanks.

It worked on fedora 31 with the package, but i still haven't made it work on 32.

[code]

[2020-09-07 14:49] vrothberg commented on #64
Are you getting an error on F32?

[2020-09-07 15:39] jkl92 commented on #64
No error. It is just working now, I'm guessing I just missed it working before.

Thank you, it seem to work just fine.

[code]

[2020-09-07 16:38] jkl92 commented on #64
Fresh full install of fedora from Fedora-Server-netinst-x86_64-32-1.6.iso

It works sometimes, but then other times it does not. I 'm still playing around with it. I also think for some reason it works better when I install from this Fedora-Server-dvd-x86_64-32-1.6.iso. Not sure that that is true though, because I it is kind of inconsistent. I mean, it works. Just sometimes it doesn't, I guess. At

[2020-09-08 08:03] vrothberg commented on #64
That's very curious. Thanks for sticking with me and your patience!

Can you share the journal logs of the hook? `journalctl | grep seccomp`

[2020-09-09 22:17] jkl92 commented on #64
Sorry, I'll put the logs in here soon.

[2020-09-17 13:48] vrothberg commented on #64
We are now hitting a very similar issue in https://github.com/containers/oci-seccomp-bpf-hook/pull/67.

The update Fedora Cloud images don't like the hook. The hook is seeing the PID exit ... very weird

[2020-09-18 08:28] vrothberg commented on #64
Can you try `podman run --cgroupns=host ...`?

I've been debugging the issue and noticed that the background process (i.e., the one tracing) is always being killed right after the container stopped. @giuseppe, please correct me if I am wrong, but I suspect that since cgroupsv2, the entire cgroup is nuked when the container stops (including all processes in the cgroup).

I believe we may consider c

[2020-09-18 08:46] vrothberg commented on #64
It's definitely related cgroupsv2. Integration tests fail on my workstation in v1 but succeed in v2.

[2020-09-18 09:01] vrothberg commented on #64
@giuseppe, what I am seeing is (reversed order):
[code]

We're getting shut down when writing the profile. The unloading of the bpf prog right after the libpod scope succeeded indicates that.

[2020-09-18 11:42] giuseppe commented on #64
yes, the entire cgroup is destroyed when the container process exits.  Does oci-seccomp-bpf-hook knows about the conmon process?  We could try to join the same cgroup if we don't want to create a new one

[2020-09-18 11:45] vrothberg commented on #64
It doesn't know about conmon. I prefer to create a new cgroup to make it usable to other engines as well.

I haven't checked but could it reuse packages from podman?

[2020-09-21 11:03] vrothberg commented on #64
Thanks, @giuseppe! I'll take a look now

[2020-09-21 12:12] vrothberg commented on #64
@giuseppe, I am getting a "Process 10 is a kernel thread, refusing."

Any clue what's happening?

[2020-09-21 12:21] giuseppe commented on #64
pid 10 seems too low.  Is it running inside the pid namespace?  It should be running on the host

[2020-09-21 14:39] vrothberg commented on #64
Yes, that's it. Unfortunately, we can't run in the host namespace as we're running as a hook.

[2020-09-21 14:52] giuseppe commented on #64
Is it a startContainer hook? Could we change it to createContainer?

[2020-09-21 14:53] giuseppe commented on #64
If it runs in the container pid namespace, it will be killed anyway as soon as the main process ends

[2020-09-21 14:58] vrothberg commented on #64
We need the containers mount namespace. Do we have that during createContainer?

I've only seen this behaviour on Cgroups v2 but not on v1. Is that expected?

[2020-09-22 11:12] giuseppe commented on #64
we have the container process PID and from there we can get its mount namespace (`/proc/PID/ns/mnt`)

could it be a race condition where cgroup v2?  There should not be any differences

[2020-09-22 11:19] vrothberg commented on #64
Perfect, that's what we're doing already, so nothing should change.  However, I don't manage to get the createContainer hook going. I assumed I just had to change the stage in https://github.com/containers/oci-seccomp-bpf-hook/blob/master/oci-seccomp-bpf-hook.json but crun throws up.

Maybe it's a race that we only hit in v2.

I tested runc master and there it's working. Very odd

[2020-09-22 11:25] vrothberg commented on #64
Ah crap: Podman throws up with `createContainer`

[2020-09-22 11:26] vrothberg commented on #64
I'll wrap up a PR.

[2020-09-22 12:13] vrothberg commented on #64
The PID is always 0 during createContainer (both crun and runc).

[2020-09-22 12:44] vrothberg commented on #64
My bad ... had a bug in my Podman patch

[2020-09-22 14:12] vrothberg commented on #64
@giuseppe, let's have a chat when you're back :-) It looks like a rabbit hole and picking your brain will speed things up.

[2020-12-10 14:46] jouros opened #69 "not enough arguments in call to _C2func_bpf_attach_uprobe"
$ go get -u github.com/containers/oci-seccomp-bpf-hook
# github.com/containers/oci-seccomp-bpf-hook/vendor/github.com/iovisor/gobpf/bcc
github.com/containers/oci-seccomp-bpf-hook/vendor/github.com/iovisor/gobpf/bcc/module.go:261:33: not enough arguments in call to _C2func_bpf_attach_uprobe
	have (_Ctype_int, uint32, *_Ctype_char, *_Ctype_char, _Ctype_ulong, _Ctype_int)
	want (_Ctype_int, uint32, *

[2020-12-27 13:47] ahmadalli commented on #69
I'm facing the same issue

[2021-01-15 11:36] vrothberg commented on #69
Thanks for reaching out and apologies for the long silence!

I suspect that the `bcc-devel` library on Ubuntu is too old.  I am running Fedora 33 and do not encounter an issue.

[2021-01-15 14:38] ahmadalli commented on #69
If I remember correctly, I've tried compiling the bcc and was still facing this error

[2021-01-15 14:49] jouros commented on #69
I did that too, I compiled bcc.

Br, Jouni

On Fri, Jan 15, 2021, 16:38 ahmadali shafiee <notifications@github.com>
wrote:

[2021-01-17 14:33] #69 closed

[2021-01-27 12:17] vrothberg commented on #64
This is fixed now with the latest update to crun (0.17).

[2021-01-27 12:17] #64 closed

[2021-01-27 16:24] lsm5 opened #72 "build failure on armv7hl"
First off, not sure if armv7hl is supported at all. If it's not, please close this right away.

I tried building the latest master commit for fedora rawhide armv7hl and I noticed this:

[code]

Seems similar to https://github.com/golang/go/issues/43830 but in this case it occurs even without specifying any CGO_CFLAGS and only for armv7hl.

[2021-01-27 16:27] vrothberg commented on #72
Thanks for the report.  I never tested it on arm.  Let's keep it open and see what we can do

[2021-01-27 21:51] lsm5 commented on #72
So @dbenoit17 sent this patch which builds fine for armv7hl

[code]

PTAL.

[2021-01-29 16:31] rhatdan commented on #72
Need to get iovisor PR to fix this, then.

[2021-01-29 16:41] lsm5 commented on #72
Closing this in favor of the iovisor/gobpf upstream bug.

[2021-01-29 16:41] #72 closed

[2021-02-02 14:52] dbenoit17 commented on #72
Upstream PR opened https://github.com/iovisor/gobpf/pull/274

[2021-02-04 15:10] saschagrunert opened #74 "Allow recording multiple processes into the same file"
We can have multiple containers within a single pod in Kubernetes, but we cannot have annotations on a container level. This means if we run the hook in k8s with multiple containers, we will overwrite the output file depending on who is the last writer:

https://github.com/containers/oci-seccomp-bpf-hook/blob/50e7112d7d2677e8f44ef1d6e743397c1de22521/oci-seccomp-bpf-hook.go#L371-L373

My idea is no

[2021-02-04 16:52] vrothberg commented on #74
Thanks for reaching out!

At the moment, we really have one file per container.  Appending multiple ones would break backwards compat.  Synchronizing the writes can be challenging as well.

Conceptually, we could:
* Acquire a lock - either a global one or per-profile.
* Append the profile to file and maybe write a header or something similar to identify which profiles belongs to which container.
*

[2021-02-04 18:05] saschagrunert commented on #74
Extending Kubernetes is not a short-term option unfortunately. We could add logic to CRI-O to modify the annotation output path and suffix the container name.

One common pattern when speaking about annotations in Kubernetes is that we suffix the key with the container name.

For example:
[code]

But now modifying the output path within the hook does not make sense to me. :thinking:

[2021-02-04 18:41] vrothberg commented on #74
Great idea!

So CRI-O would understand the annotation and add custom logic to pass a per-container profile down to the runtime?

[2021-02-04 18:57] saschagrunert commented on #74
Yeah I think this would be doable. I'll draft a PR for that. Thank you for your thoughts! :pray:

[2021-02-05 09:00] vrothberg commented on #74
Closing in favor of cri-o/cri-o#4544. Thanks, @saschagrunert !

[2021-02-05 09:00] #74 closed

[2021-03-23 16:29] Kvlbs commented on #64
Hello , Sorry if this is the wrong place to raise this issue or its something too basic.

I am following the [same blog](https://www.redhat.com/sysadmin/container-security-seccomp) and same procedure as above.
Fresh install of Fedora 33 from Fedora-Workstation-Live-x86-64-33-1.2.iso
Then  dnf install oci-seccomp-bpf-hook

The images were created
[root@fedora labs]# sudo podman run fedora:33 cat /e

[2021-03-24 06:27] Kvlbs opened #75 "oci-seccomp-bpf-hook exits with OCI runtime error Code 127"
Hello , Sorry if this is the wrong place to raise this issue or its something too basic.

I am following the [same blog](https://www.redhat.com/sysadmin/container-security-seccomp) and same procedure as above.
Fresh install of Fedora 33 from Fedora-Workstation-Live-x86-64-33-1.2.iso
Then  dnf install oci-seccomp-bpf-hook

The images were created
[root@fedora labs]# sudo podman run fedora:33 cat /e

[2021-03-24 09:21] vrothberg commented on #75
Thanks for reaching out.  Can you share the output of `podman info`?  There was a regression in `crun` which has been fixed earlier this year.

[2021-03-24 14:24] Kvlbs commented on #75
Hello, Here is the output from podman info
[labs@fedora bcc]$ sudo podman info

host:

  arch: amd64

  buildahVersion: 1.16.1

  cgroupManager: systemd

  cgroupVersion: v2

  conmon:

    package: conmon-2.0.21-3.fc33.x86_64

    path: /usr/bin/conmon

    version: 'conmon version 2.0.21, commit: 0f53fb68333bdead5fe4dc5175703e22cf9882ab'

  cpus: 1

  distribution:

    distribution: fedora

[2021-03-24 18:18] vrothberg commented on #75
Thank you!  Indeed, `crun`, `podman` and friends are quite old.  Could you run a `dnf update` and try again?

[2021-03-24 18:51] Kvlbs commented on #75
It works thanks :)

[2021-03-24 18:54] #75 closed

[2021-05-05 10:33] saschagrunert opened #84 "Out of memory kill on Fedora 34 when used with CRI-O"
In the security-profiles-operator, we're using [Fedora 33 for our recording and SELinux e2e tests](https://github.com/kubernetes-sigs/security-profiles-operator/blob/7584d39beb428fe0d929c6c76460785832ac8980/hack/ci/Vagrantfile#L6), which uses the OCI seccomp BPF hook `1.2.1-2.fc33`.

Upgrading the Vagrant machine to Fedora 34 will break the hook (`1.2.2-0.1.git4e42394.fc34`), but only when using C

[2021-05-05 10:41] vrothberg commented on #84
Could this be a bug in CRI-O's cgroupfs implementation (e.g., too low memory limit)?

[2021-05-05 10:48] rhatdan commented on #84
https://github.com/containers/container-selinux/releases/tag/v2.161.0 Should fix the SELinux issue.

[2021-05-05 10:49] rhatdan commented on #84
This could definitely be triggered by the new access check on SELinux, Something is getting a failure when attempting a lockdown, and potentially causing a leak.

[2021-05-05 10:50] vrothberg commented on #84
Excellent, thanks @rhatdan

[2021-05-05 11:40] WOnder93 commented on #84
Actually, there is a kernel bug behind this. See: https://bugzilla.redhat.com/show_bug.cgi?id=1955585

[2021-05-05 12:24] rhatdan commented on #84
Great, the fixes for container-selinux and unconfined domains should still go forward, anyways.

[2021-05-13 15:48] rhatdan opened #86 "Rename master branch to main branch"

[2021-05-13 17:26] giuseppe commented on #84
the OOM issue could be fixed in the last release with https://github.com/containers/oci-seccomp-bpf-hook/pull/77

[2021-05-14 07:27] saschagrunert commented on #84
@giuseppe #77 is part of 1.2.2 which was the version we tested on Fedora 34

[2021-06-15 19:14] cevich commented on #86
***Supporting/Required changes:***

- [ ] Update status link in `README.md`

(I'll update this comment as/if I find more)

[2021-06-15 19:16] cevich commented on #86
@rhatdan By my eyes, this repo. looks like it might be a really low-friction candidate for renaming.  All I could find locally was the *readme*. Though I'll keep on the lookout if other repos. contain any links to this one.

[2021-06-18 13:11] rhatdan commented on #86
Renamed.

[2021-06-18 13:11] #86 closed

[2021-09-16 22:57] husky-parul opened #91 "No secomp filter output file created"
**Steps to reproduce**

[code]

**Expected result**
secomp filter output file be created at `/tmp/ls.json`

**Current behavior**
No secomp filter output file is created at `/tmp/ls.json`

**Env**
I am trying this on a Vagrant system

[code]

[code]

[code]

[2021-09-20 09:33] vrothberg commented on #91
Thanks for reaching out, @husky-parul.  Can you verify that your system is up-to-date (e.g., `dnf -y --refresh update`). There was a recent regression in the (Fedora) kernel.

[2021-09-20 17:11] weirdwiz commented on #91
@husky-parul can you try and install the hook using `sudo make PREFIX=/usr install`. Looks like the binary isn't running.

[2021-09-21 16:40] husky-parul commented on #91
Unfortunately upgrading the kernel didn't help

[2021-09-21 16:44] husky-parul commented on #91
`make PREFIX=/usr install` did it. Now I can see the secomp filter file. Thanks

[2021-09-21 16:52] husky-parul commented on #91
Follow up question. In the above example we are running fedora:30 and generating the secomp for `ls` command. When I try that I can see `/tmp/ls.json`
But when try to generate the secomp filter for

[code]
where `ushift` is the local podman image and I want to run it with the above flags, I don't see `ls.json` generated.

[2021-09-22 08:37] vrothberg commented on #91
Did the container exit? Can you share the logs?

[2021-10-05 13:34] husky-parul commented on #91
The secomp filter output file is not generated if the container is running. I manually stopped the container by using `podman stop <contaierid>`. After that the secomp filter output file was generated at the said location.

[2021-10-05 13:34] #91 closed

[2021-10-15 08:31] saschagrunert opened #93 "Consider using libbpf"
If we utilize [libbpf](https://github.com/libbpf/libbpf), then we can produce a smaller binary which also runs faster and minimizes the runtime dependencies. The overall architecture of the hook could be simplified as well. I created a syscall recorder project for demonstration purposes: https://github.com/saschagrunert/syscall-recorder

Building the main application (the syscall-recorder) require

[2021-10-15 08:47] vrothberg commented on #93
I don't understand the proposal and problem statement. Can you elaborate? Is it to rewrite oci-seccomp-bpf-hook in C with libbpf?

[2021-10-18 05:48] weirdwiz commented on #93
RHEL 8.2+

[2021-10-21 18:29] rafaeldtinoco commented on #93
Take a look at https://github.com/aquasecurity/btfhub/ to make this work with CO-RE and old kernels (specifically at recent work being done at: https://github.com/aquasecurity/btfhub/tree/main/tools, which will be upstreamed shortly).

[2021-12-14 09:23] vrothberg commented on #93
Any updates, @weirdwiz?  I want to make sure that @saschagrunert's request is not falling from our radar.

[2022-01-31 08:15] vrothberg commented on #93
OK, let's unblock the issue.  @weirdwiz is busy with his internship at Red Hat's storage team.  If others want to give it a shot, feel free to self-assign or drop a comment.

[2022-01-31 08:58] saschagrunert commented on #93
In the meanwhile we released a first integration within the security-profiles-operator: https://github.com/kubernetes-sigs/security-profiles-operator/tree/main/internal/pkg/daemon/bpfrecorder

Packaging a generic libbpf-based application seems to be the most tricky part here. On the other side, we probably do not have to support a custom BTF if we focus on Fedora/RHEL packaging in the first place.

[2022-07-09 15:27] cavokz opened #96 "Migrate to `containers/common`"
Please consider migrating from [seccomp/containers-golang](https://github.com/seccomp/containers-golang) to [containers/common](https://github.com/containers/common), the first is now deprecated.

[2022-07-10 11:01] rhatdan commented on #96
Interested in opening a PR?

[2022-07-11 08:48] cavokz commented on #96
I'm packaging `oci-seccomp-bpf-hook` for Debian ([Bug#1014406](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1014406)) but this dependency is a blocker.

I've not yet looked at the code and I've no idea of the kind of effort but yes, ideally I'd like to nail it.

[2022-07-11 12:03] vrothberg commented on #96
I can tackle it and create a new patch-release. Thanks for opening the issue!

[2022-07-11 12:08] vrothberg commented on #84
I am closing the issue as I think it's fixed. Please reopen in case I am mistaken.

[2022-07-11 12:08] #84 closed

[2022-07-11 12:09] vrothberg commented on #93
@saschagrunert did you find time looking into it?

[2022-07-11 12:49] cavokz commented on #96
Thanks!

[2022-07-12 07:25] saschagrunert commented on #93
@vrothberg unfortunately not directly, because I think we should clarify how to package the application before moving forward. I'm working with other teams on solving that issue right now, but I think it will take some time (months).

libbpf still seems not to be supported with all features for all kernels by the way. For example ring buffer maps are not supported by Linux < 5.8. Not sure if that

[2022-08-12 16:44] cavokz opened #99 "Apache 2.0 license seems to be incorrectly applied"
At bottom of [LICENSE](https://github.com/containers/oci-seccomp-bpf-hook/blob/main/LICENSE) is explained how to apply the Apache 2.0 license to some work. The following text should be enclosed in source files:

[code]

I cannot find this statement in any file of this tree and I'm blocked from packaging it for Debian.

Actually no file has any copyright notice at all.

[2022-08-13 10:37] rhatdan commented on #99
Please open a PR to add this notification.

[2022-08-13 12:20] vrothberg commented on #99
Do we really need to? We don’t in other projects which are already in
Debian.

We should double check with legal.

On Sat 13 Aug 2022 at 12:37, Daniel J Walsh ***@***.***>
wrote:

[2022-08-15 14:46] cavokz commented on #99
Maybe it's not necessary to add the boilerplate to every file, add at least an SPDX comment to the most important ones.

My upload was rejected because I could not show who are the copyright holders, please add them somewhere. Thanks.

[2022-08-15 14:49] rhatdan commented on #99
Could you add them?

[2022-08-16 20:26] cavokz commented on #99
@rhatdan, if you are asking to me, I don't know who are the copyright holders.

[2022-08-16 21:07] rhatdan commented on #99
I would guess
https://github.com/containers/oci-seccomp-bpf-hook/graphs/contributors

[2022-08-22 08:39] vrothberg commented on #99
Let's take a step back before opening PRs please.  I do not see any such thing in Podman, for instance, which uses the same license as most of github.com/containers does.

Probably, the bot in debian is just picking up a Copyright notice from a vendored dependency there?

I will check with legal as well.

[2022-08-22 09:45] cavokz commented on #99
@vrothberg I conflated two issues: the Apache 2.0 license and the copyright statements. While I pointed out the first I actually care more about the second.

Indeed also Podman has virtually no copyright statements anywhere, setting aside the `vendor` dir and a few files (checked with `git grep -i copyright | grep -v -e ^vendor`). Therefore it's not clear how for Podman the Debian developer could

[2022-08-22 09:50] vrothberg commented on #99
Thanks for clarifying @cavokz.

I suggest to attribute the copyright to the "github.com/containers/oci-seccomp-bpf-hook authors".  Red Hat does not seem accurate as the community spans across Red Hat including other companies and individual contributors.

[2022-08-22 10:09] cavokz commented on #99
Isn't it worth adding this claim somewhere in the sources as well and also clarify who are the authors?

If I succeed in getting one line changed do I automatically become an author and copyright holder of the whole or am I just a contributor? Would I hold any saying on the changes I contribute or everything is donated to the authors?

This stuff is boring (I'm a developer myself) but it's just a

[2022-08-22 12:22] vrothberg commented on #99
Since I am just a mere mortal developer as well, I reached out to legal for guidance.  I want to make sure whether the license requires us to add an explicit copyright header.

[2022-08-26 06:44] Vogtinator opened #100 "Fails to build with current bcc"
bcc added two additional parameters to `bcc_func_load` which aren't passed here:

[code]

Unfortunately it looks like gobpf is dead: https://github.com/iovisor/gobpf/pull/311

[2022-08-26 08:07] vrothberg commented on #100
Thanks for reaching out, @Vogtinator!

I suggest to wait a bit more on https://github.com/iovisor/gobpf/pull/311.

We may need to prioritize getting https://github.com/containers/oci-seccomp-bpf-hook/issues/93 done. Cc: @saschagrunert

[2022-08-26 08:35] saschagrunert commented on #100
Libbpf 1.0.0 has been released a couple of days ago which seems to be a great road to stabilization: https://github.com/libbpf/libbpf/releases/tag/v1.0.0

I think we can start working on it when https://github.com/aquasecurity/libbpfgo/pull/216 got merged (and released).

[2022-08-31 11:22] vrothberg commented on #99
In short, a copyright notice is of less legal significance, see https://opensource.com/article/20/10/copyright-notices-open-source-software.

Nonetheless, I will open a PR and add a notice to the README.

[2022-08-31 11:57] cavokz commented on #99
Interesting, I'll check with other Debian fellows whether we can simplify things.

Thanks, this will help to keep me moving now.

[2022-08-31 13:25] #99 closed

[2022-09-07 13:07] drahnr opened #103 "hook should detect when running in a rootless context and give a meaningful error"
[code]

Note that the last lane is delayed by roughly 5~10 seconds

[code]

[2022-09-07 14:24] vrothberg commented on #103
Thanks for reaching out!

Can you share the output of `podman info` and which version of the hook you are using?  Usually such hiccups are kernel bugs but I can't be sure.  Does `journalctl` reveal some hints on why the hook has failed?

[2022-09-07 14:33] drahnr commented on #103
[code]

[code]

[2022-09-07 14:33] drahnr commented on #103
[code]

[2022-09-07 14:38] drahnr commented on #103
`journalctl` doesn't show anything relevant, no unknown hiccups.

[2022-09-07 14:50] drahnr commented on #103
[code]

[2022-09-07 14:56] drahnr commented on #103
@vrothberg would be great if you could take a second peek? I very much appreciate it.

[2022-09-07 15:13] drahnr commented on #103
The anom abend is not a selinux denial, https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/security_guide/sec-audit_record_types#ftn.footnote-ANOM

[2022-09-08 08:19] vrothberg commented on #103
Thanks, @drahnr!

Really hard to say what's going on.  Could be a kernel fart or one in bcc-devel.  It works on F36.  I suggest to keep the issue open and check in a week or two if it's still present.

[2022-09-08 08:21] drahnr commented on #103
I tested the exact same CLI as root, and there it works just fine:

[code]

[2022-09-08 08:25] vrothberg commented on #103
Ah, that makes sense.  The hook must be run as root at the present.  I did not follow the rootless BPF progress in detail but it's likely not being enabled on most distributions.

I will rename the issue.  The hook should be able to detect whether it's running in a rootless context or not.

[2022-10-06 05:54] martinetd commented on #100
the libbpfgo change has been merged but I'm not sure we can count on a release (haven't explicitly asked yet) -- would pinning against the latest commit for this repo be something to consider, or should I try to be annoying over there?
As far as I can see we're already using arbitrary commits for seccomp and runtime-spec

[2022-10-11 11:52] vrothberg commented on #100
Thanks for the ping!  I am OK vendoring a non-release commit.

[2022-10-11 13:45] martinetd commented on #100
Thanks, opened #104 with gobpf version bump!

[2022-10-12 07:45] #100 closed